.lunbo{
    height: 2.4rem;
    width: 7.5rem;
}
#test1{
    height: 2.4rem!important;
    width: 7.5rem!important;
}
#test1 img{
    height: 2.4rem;
    width: 7.5rem;
}
.wrap{
    position: relative;
    z-index: 99;
}